<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="paper-sizes" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="paper-sizes" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="paper-sizes" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="paper-sizes" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Datenbank für Papierformate</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="bower_components/Materialize/dist/css/materialize.min.css"
          media="screen,projection"/>
</head>
<body>
<div ng-controller="sizes">
    <nav class="teal">
        <div class="nav-wrapper">
            <form>
                <div class="input-field">
                    <input type="search" class="form-control" id="filter" ng-model="filter" placeholder="z.B. DIN A4"
                           focus="true"
                           required>
                    <label for="filter"><i class="material-icons">search</i></label>
                    <i class="material-icons" ng-click="filter = ''">close</i>
                </div>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col s3" ng-repeat="size in paperSizes">
                <br>

                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox" ng-model="size.show">
                        <span class="lever"></span>
                        On - {{size.name}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="paperSize in paperSizes">
                <div ng-hide="filteredFormats.length == 0 || !paperSize.show">
                    <h4><a href="{{paperSize.url}}" >{{paperSize.name}}</a></h4>
                    <blockquote>
                        {{paperSize.description.text}} <small> - <a href="{{paperSize.description.url}}">{{paperSize.description.url}}</a></small>
                    </blockquote>
                    <div class="row">
                        <div class="col s3" ng-repeat="format in filteredFormats=(paperSize.formats | filter:filter)">
                            <div class="card teal">
                                <div class="card-content white-text">
                                    <span class="card-title activator"><span ng-bind-html="highlight(format.name, filter)"></span><i class="material-icons right">more_vert</i></span>
                                    <table>
                                        <tr>
                                            <th>Breite</th>
                                            <th>Höhe</th>
                                        </tr>
                                        <tr>
                                            <td><span ng-bind-html="highlight(format.cm.width, filter)"></span> cm</td>
                                            <td><span ng-bind-html="highlight(format.cm.height, filter)"></span> cm</td>
                                        </tr>
                                    </table>
                                </div>
                                {{paperSize.keywords}}
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Stichwörter<i class="material-icons right">close</i></span>
                                    <div class="chip" style="margin-bottom: 5px;" ng-repeat="keyword in format.keywords">
                                        {{keyword}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/Materialize/dist/js/materialize.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>